body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    color: #4D4D4D;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

nav {
    display: flex;
    width: 100%;
    background: linear-gradient(to right,#B7410E, #228B22, #DAA520 );
}

ul{
    display: flex;
    list-style-type: none;
    width: 100%;
}
li {
    flex: 1;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
}

#first:hover{
    background-color: rgb(183, 65, 14, 0.5);
}
#second:hover{
    background-color: rgb(34, 139, 34, 0.5);
}

#third:hover{
    background-color: rgb(218, 165, 32, 0.5);
}

#first{
    background-color: #B7410E;
}
#second{
    background-color: #228B22;
}
#third{
    background-color:  #DAA520;
}

footer {
    align-items: flex-end;
    padding-left: 3rem;
}
h3{
    background: radial-gradient(rgba(205, 133, 63, 1), rgba(245, 222, 179, 1), rgba(255, 255, 255, 1));
}
p {
    background: radial-gradient(rgba(135, 206, 235, 1), rgba(176, 224, 230, 1), rgba(255, 255, 255, 1));
    width: 70%;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}